header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clr-primary;
    height: 10vw;
    @include breakpoints(mobile) {
      height: 15vw;
      background: white;
    }
  }
  .logo {
    height: 50%;
    @include breakpoints(mobile) {
      width: 50%;
      height: auto;
    }
  }